<!DOCTYPE html>
<html>
<body>
<section id="members" class="section">
  <div class="container login-wrapper">
    <i class="icon-circled icon-bgdark icon-user icon-2x"></i>
    <h4>Members Login</h4>
    <a href="/linkedin_oauth_url" class="btn btn-primary btn-larg">Connect to LinkedIn</a>
  </div>
</section>
</body>
</html>
