<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Tapia 2018</title>
  </head>

  <body class="tapia">
  <!-- Header area -->
   <div class="container">
      <h1>Tapia 2018 in Orlando, FL</h1>
      <%= image_tag("tapia-2018/2018.jpg", :alt => "Attendees at the 2018 Tapia Conference", :classes => "img-responsive") %>
    </div>

    <section class="section" id="about">
      <div>
        <p>Hope you were able to join us at the
          <a href="http://tapiaconference.org">2018 Tapia Conference</a>
          in Orlando, September 19-22, 2018. <br>
          Our <a href="http://www.tapiaconference.org/schedule/thursday-september-20-2018/500pm-600pm/hispanics-in-computing/">
            Birds of a Feather
          </a> event was on Thursday September 20th followed by a <br>
          <a href="http://www.tapiaconference.org/schedule/thursday-september-20-2018/600-pm-730-pm/reception/hispanics-in-computing-reception/">
            Hispanics in Computing Reception</a>
          sponsored by The Aerospace Corporation.</p>
        <p>We went to the Cuba Libre restaurant and had a great time. <br>
          Come join us in San Diego 2019!</p>
      </div>

    <!-- Photos Section -->
    <div class="container">
      <h3>Photos</h3>
        <div class="row">
          <div class="span4 thumbnail">
            <%= image_tag("tapia-2018/food-1.jpg", :alt => "Attendees eating at a Cuba Libre restaurant together", :classes => "img-responsive") %>
          </div>
          <div class="span4 thumbnail">
            <%= image_tag("tapia-2018/food-2.jpg", :alt => "Attendees eating at a Cuba Libre restaurant together", :classes => "img-responsive") %>
          </div>
        </div>
      </div>
    </section>
  </body>
<<<<<<< HEAD
</html>
=======
</html>
>>>>>>> c8697e5f4d2d6466134407f3712c7c77976f78b3
