<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Tapia 2017</title>
  </head>
  <body class="tapia">
  <!-- Header area -->
   <div class="container">
      <h1>Tapia 2017, Atlanta, GA</h1>
      <%= image_tag("tapia-2017/2017.jpg", :alt => "Attendees at the 2017 Tapia Conference", :classes => "img-responsive") %>
    </div>
  </body>
</html>
