<div class="row">
  <div class="span4">
    <div class="thumbnail">
      <img src="<%= @basic_profile.picture_url %>" style="float: left;margin: 5px;">
      <h3><%= @basic_profile.formatted_name %></h3>
      <h4><%= @basic_profile.headline %></h4>
      <br>
      <p><%= @basic_profile.summary %></p>
    </div>
  </div>
</div>


