
<!-- TODO: Call a javascript file here or in controller to parse the arguments @firstname,@lastname,@location -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

  </body>
</html>
