<!DOCTYPE html>
<html>
<body>
<section id="posts" class="section">
  <!-- use login-wrapper style for testing -->
  <div class="container login-wrapper">

    <h4>Add Information</h4>
    <form action="/new_info" method = "post">
      First name:<br>
      <input type="text" name="firstname" placeholder='Enter your first name' ><br>
      Last name:<br>
      <input type="text" name="lastname" placeholder='Enter your last name'><br>
      Location:<br>
      <input type="text" name="location" placeholder='Enter your location'><br>
      <input type="submit" value="Submit">
    </form>
  </div>
</section>
</body>
</html>
