<!DOCTYPE html>
<form action=<%= new_info_path %> method = "post">
  <section id="posts" class="section">
    <div class="container">
      <div class="form-group">
        <label>First Name</label>
        <input class="form-control" name="first_name" placeholder="Enter name">
      </div><br>
      <div class="form-group">
        <label>Last Name</label>
        <input class="form-control" name="last_name" placeholder="Enter name">
      </div><br>
      <div class="form-group">
        <label>Email address</label>
        <input  class="form-control" name="email"  placeholder="Enter email">
      </div><br>
      <div class="form-group">
        <label>Location</label>
        <input class="form-control" name="location"  placeholder="Enter location">
      </div><br>
      <div class="form-group">
        <label>Country of origin</label>
        <input class="form-control" name="country_of_origin" placeholder="Enter country of origin">
      </div><br>

      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </section>
</form>
