
<!-- TODO: Call a javascript file here or in controller to parse the arguments @firstname,@lastname,@location -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>My Profile</h1>
      <p>
        <%= @firstname %><br>
        <%= @lastname %><br>
        <%= @location %><br>
      </p>

  </body>
</html>
