// Place all the styles related to the map controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#map-container {
  background:#f2f2f2;
  padding: 2em 4em 4em 4em;
}


div#leaflet-map {
  height: 750px;
  background:#f2f2f2;
  padding-top: 2em;
}
